<div class="pop-out">
  <div>
    <button class="toggle" (click)="open()" *ngIf="!visible">open</button>
    <button class="toggle" (click)="close()" *ngIf="visible">close</button>
  </div>
  <div class="content" *ngIf="visible">
    <img src="hogwarts.webp" alt="" />
    <div class="container">
      <h1>Hogwarts Castle</h1>
      <h3>56.959934, -3.416933</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
        repellendus nulla eos ea quod, explicabo iusto doloremque nihil quas
        deserunt corrupti facilis inventore dicta suscipit similique fuga eaque
        natus tempora. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Unde excepturi possimus ullam, placeat et odit natus sit earum
        blanditiis reiciendis maiores cupiditate nam in, similique nihil
        nesciunt ipsam esse rerum. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum ad consequatur exercitationem iure est assumenda
        quis, ipsum distinctio eos quisquam minus, eveniet fugiat itaque
        aspernatur, optio iusto nihil tempora sapiente. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Fuga blanditiis aperiam illum
        cupiditate facilis, corporis sequi ipsum, qui autem eveniet atque natus
        architecto quaerat, laborum saepe ad mollitia vitae itaque.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Amet repellendus nulla eos
        ea quod, explicabo iusto doloremque nihil quas deserunt corrupti facilis
        inventore dicta suscipit similique fuga eaque natus tempora. Lorem ipsum
        dolor sit amet consectetur, adipisicing elit. Unde excepturi possimus
        ullam, placeat et odit natus sit earum blanditiis reiciendis maiores
        cupiditate nam in, similique nihil nesciunt ipsam esse rerum. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Illum ad consequatur
        exercitationem iure est assumenda quis, ipsum distinctio eos quisquam
        minus, eveniet fugiat itaque aspernatur, optio iusto nihil tempora
        sapiente. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
        blanditiis aperiam illum cupiditate facilis, corporis sequi ipsum, qui
        autem eveniet atque natus architecto quaerat, laborum saepe ad mollitia
        vitae itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Amet repellendus nulla eos ea quod, explicabo iusto doloremque nihil
        quas deserunt corrupti facilis inventore dicta suscipit similique fuga
        eaque natus tempora. Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Unde excepturi possimus ullam, placeat et odit natus sit earum
        blanditiis reiciendis maiores cupiditate nam in, similique nihil
        nesciunt ipsam esse rerum. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illum ad consequatur exercitationem iure est assumenda
        quis, ipsum distinctio eos quisquam minus, eveniet fugiat itaque
        aspernatur, optio iusto nihil tempora sapiente. Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Fuga blanditiis aperiam illum
        cupiditate facilis, corporis sequi ipsum, qui autem eveniet atque natus
        architecto quaerat, laborum saepe ad mollitia vitae itaque. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Amet repellendus nulla eos
        ea quod, explicabo iusto doloremque nihil quas deserunt corrupti facilis
        inventore dicta suscipit similique fuga eaque natus tempora. Lorem ipsum
        dolor sit amet consectetur, adipisicing elit. Unde excepturi possimus
        ullam, placeat et odit natus sit earum blanditiis reiciendis maiores
        cupiditate nam in, similique nihil nesciunt ipsam esse rerum. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Illum ad consequatur
        exercitationem iure est assumenda quis, ipsum distinctio eos quisquam
        minus, eveniet fugiat itaque aspernatur, optio iusto nihil tempora
        sapiente. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga
        blanditiis aperiam illum cupiditate facilis, corporis sequi ipsum, qui
        autem eveniet atque natus architecto quaerat, laborum saepe ad mollitia
        vitae itaque.
      </p>
    </div>
  </div>
</div>
