.pop-out {
  position: absolute;
  z-index: 200;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;

  display: flex;
  /* background: black; */
}
.toggle {
  position: relative;
  top: calc(50% - 24px);
  height: 5em;
  border-radius: 10px 0px 0px 10px;
}
.content {
  height: 100%;
  background: white;
  width: 25em;
  overflow-y: auto;
}
.content > img {
  width: 100%;
}
.tab {
  width: 0.5em;
}
